:root{
    padding: 0;
    margin: 0;    
}
body{
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    justify-content: center;
    background-color: #cc5;
    padding: 3rem;
}

@mixin flex {
    // write the css here
    display: -webkit-flex;
    display: flex;
}

.todo__list{
    padding: 1rem;
    background: #eee;
    border: 1px solid #ccc;
}

.navbar__nav{
     @include flex;
    justify-content: center;
    list-style-type: none;

    li{
        padding: .5rem 1rem;
    }
    a{
        color: #444;
        text-decoration: none;
    }
    transform: translate(30px);
}


